html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  }

.container{
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 4rem;
  margin: 0;
  color: burlywood;
  font-family: 'Cedarville Cursive', cursive;
}

.container h3 {
  color: white;
  padding-bottom: 2.5rem;
  font-size: 1.5rem;
  font-family: 'Karla', sans-serif;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  border: solid 1px white;
}

.grid div {
  width: 15px;
  height: 15px;
}

.pac-dot{
  background-color: green;
  box-sizing: border-box;
  border: 5px solid white;
}

.wall {
  background-color: rgb(141, 122, 122);
}

.power-pellet{
  background-color: rgb(10, 252, 10);
  border-radius: 10px;
}

.pacman {
  background-color: rgb(255, 196, 0);
  border-radius: 10px;
  border: none;
}

.blinky{
  background-color: rgb(194, 72, 72);
  border: none;
}

.pinky{
  background-color: rgb(246, 22, 231);
  border: none;
}

.inky{
  background-color: rgb(45, 209, 160);
  border: none;
}

.clyde{
  background-color: rgb(29, 135, 95);
  border: none;
}

.scared-ghost{
  background-color: aquamarine;
}
